@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .container-trivia {
    @apply grid;
    @apply grid-flow-row;
    @apply items-center;
    @apply justify-center;
    @apply gap-x-3;
    @apply gap-y-3;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    width: 90vw;
    height: 100%;
    border-radius: 20px;
    padding-top: 2rem;
    padding-bottom: 0;
    backdrop-filter: blur(10px);
  }

  @media only screen and (min-width: 1024px) {
    .container-trivia {
      @apply grid-flow-col;
      @apply grid-cols-2;
      height: 100%;
      width: 70vw;
      padding-bottom: 2rem;
    }
  }
}
