@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  

  .nav-bg {
    background-position: center;
    height: 100%;
  }

  .class-cont {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 4rem;
    width: 80%;
    @apply text-violet-100;
    margin-top: 1rem;
    border-radius: 20px;
  }

  header  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  header nav {
    display: flex;
    flex-direction: row;
    margin: 2;
    align-items: center;
    justify-content: center;
  }

  nav a {
    margin: 0 2rem;
    text-decoration: none;
  }

  nav a:hover {
    @apply text-violet-200;    
  }

  .other {
    display: none;
    visibility: hidden;
    opacity: 0;
    font-size: 1.5rem;
  }

  nav .nav-btn  {
    display: none;
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
    border-radius: 10px;
    @apply bg-purple-800;
    font-size: 1.5rem;
  }

  .btn-link {
    padding: 12px;
    color: rgb(163, 32, 82);
    font-weight: 800;
  }

  @media only screen and (min-width: 1024px) {
    .btn-link:hover {
      color: rgb(163, 32, 82);
      background: #fff;
      @apply drop-shadow-md;
      border-radius: 5px;
    }
  }

  @media only screen and (max-width: 1024px) {
    header {
      @apply flex;
      @apply flex-row;
    }

    header .nav-btn {
      display: block;
      visibility: visible;
      opacity: 1;
      background: rgba(255, 102, 178, 0.8);
      box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
      border-radius: 10px;
      padding: 6px;;
    }

    .other {
      visibility: visible;
      opacity: 1;
      display: block;
    }
    
    .class-btn {
    }

    .btn-link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      width: 10rem;
      height: 3rem;
      background: rgba(255, 102, 178, 0.6);
      box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
      border-radius: 15px;
    }

    nav .btn-link .login {
      background: rgba(255, 102, 178, 0.8);
    }
    
    
    header nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 55vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      transition: 1s;
      transform: translateY(-100vh);
      background: rgba(255, 255, 255, 0.49);
      box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(10px);
      z-index: 100;
    }

    header .responsive_nav {
      transform: none;
    }
  }

}
