@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  header  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 4rem;
    @apply bg-purple-500;
    @apply text-violet-100;
  }

  header nav {
    display: flex;
    flex-direction: row;
    margin: 2;
    align-items: center;
    justify-content: center;
  }

  nav a {
    margin: 0 2rem;
    text-decoration: none;
  }

  nav a:hover {
    @apply text-violet-200;    
  }

  .other {
    display: none;
    visibility: hidden;
    opacity: 0;
    font-size: 1.5rem;
  }

  nav .nav-btn  {
    display: none;
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
    @apply bg-purple-800;
    font-size: 1.5rem;
  }

  @media only screen and (max-width: 1024px) {
    header {
      @apply flex;
      @apply flex-row;
    }

    header .nav-btn {
      display: block;
      visibility: visible;
      opacity: 1;
    }
    
    .other {
      visibility: visible;
      opacity: 1;
      display: block;
    }
    
    header nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 40vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      transition: 1s;
      transform: translateY(-100vh);
      @apply bg-purple-500;
      z-index: 100;
    }

    header .responsive_nav {
      transform: none;
    }
  }

}
