.container {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem;
  margin: 3rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}
