@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header  {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    @apply bg-purple-400;
    @apply text-violet-100;
  }

  nav a {
    margin: 0 2rem;
    text-decoration: none;
  }

  nav a:hover {
    @apply text-violet-200;    
  }

  header .nav-btn  {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    @apply bg-purple-800;
  }

  @media only screen and (max-width: 1024px) {
    header .nav-btn {
      visibility: visible;
      opacity: 1;
    }
    
    header nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 1s;
      transform: translateY(-100vh);
    }

    header .responsive_nav {
      transform: none;
    }
  }
}
